@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro|Ubuntu');

body{
    background: linear-gradient(to bottom, rgba(255,200,200,0.45) 0%, rgba(255,200,200,0.9) 100%)
}

h2{
  font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  font-weight:400
}

h1{
  font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  font-weight:400
}

#menu{
	position: fixed; /*posición ajustada*/
	bottom:2rem;
	right:2.5rem;
}

.bg-azul{
  background: rgba(255,200,200,0.9) 100%
}
